@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="night"] {
  --border-btn: 1px;
  --tab-border: 1px;
  --rounded-box: 0;
  --rounded-btn: 0;
  --rounded-badge: 0;
  --animation-btn: 0;
  --animation-input: 0;
  --tab-radius: 0;
}

@media (max-width: 768px) {
  .hidden-image {
    display: none;
  }
}

@layer {
  .bg-main {
    background-color: rgb(4, 1, 37);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-image: radial-gradient(
        at 40% 20%,
        hsla(269, 37%, 13%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 80% 0%, rgb(34, 13, 53) 0px, transparent 50%),
      radial-gradient(at 0% 50%, rgb(18, 22, 78) 0px, transparent 50%),
      radial-gradient(at 80% 50%, rgb(47, 13, 87) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgb(34, 22, 48) 0px, transparent 50%),
      radial-gradient(at 80% 100%, rgb(68, 27, 80) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgb(15, 31, 56) 0px, transparent 50%);
  }
}
